/*
**
**                  bo
**
**
**					e[ad] Escuela de Arquitectura y Diseño
**					
**
*/


/** ------------------------------------------------------------------ Variables */


$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 60%);
$gray-lighter: lighten($gray-base, 90%);


$color-white: #ffffff;
$color-dark: #202020;
$color-brown: #132029;
$color-blue: #3e85b5;
$color-dark-blue: #1A3C65;
$color-pale: fade(#DCF0F7, 30%);
$color-yellow-pale: #f7d96d;
$color-yellow: #f3c624;
$color-pink: #ff5656;
$color-red: #f30000;
$color-ocre: #725b06;
$color-purple: #510e1c;
$color-gray: #656565;
$navbar-bg: #202020;
$footer-bg: fade($navbar-bg, 10%);

$code-bg: rgba(132, 150, 117, .25);
$code-col: rgba(58, 59, 58, 0.704);
$pre-bg: $code-bg;
$brand-primary: rgb(168, 50, 23);
$link-color: $brand-primary;
$color-link: $link-color;
$color-notice: rgba(236, 213, 12, 0.171);

$btn-default-color: #fff;
$btn-default-bg: $gray-darker;
$btn-default-border: $btn-default-bg;

$navbar-default-bg: $navbar-bg;
$nav-tabs-active-link-hover-color: $color-white;

$btn-default-bg: $color-dark;
$btn-default-border: $btn-default-bg;

$btn-default-focus-bg: lighten($brand-primary, .15);
$btn-default-focus-border: $btn-default-focus-bg;

$btn-default-visited-bg: $color-dark-blue;
$btn-default-visited-border: $btn-default-visited-bg;
$base-radius: 4px;

$font-family-sans-serif: "Alegreya Sans", sans-serif !default;
$font-family-serif: Alegreya, Times, serif !default;
$font-family-monospace: "Roboto Mono", Menlo, Monaco, Consolas, monospace !default;
$font-family-base: $font-family-sans-serif !default;


/** ------------------------------------------------------------------ navbar      */

.navbar-dark {
	a {
		&::before {
			color: #ffffff8c;
		}

		&:hover::before {
			color: rgba(255, 255, 255, 0.78);
		}
	}

	.dropdown-menu {
		a::before {
			color: rgba(0, 0, 0, 0.515)
		}
	}
}

/** ------------------------------------------------------------------ HTML common elements */

/* enforce a minimum height on every screen */

html {
	min-height: 100vh;
}

/* links */

a,
a:visited {
	color: $link-color;
}

.mw-parser-output a.extiw:visited, .mw-parser-output a.external:visited {
	color: darken($link-color, .2);
  }

a:active,
.mw-body a.external:active {
	color: $link-color;
}

a.new {

	&:link,
	&:hover,
	&:visited {
		color: $color-gray;
	}
}

/* fix gap between header and content */
.contentHeader {
	margin: 0 0 0.5em;
	border-bottom: 0;
	padding-bottom: 0;
}

/* Headings */

.mw-body {
	h1 {
		letter-spacing: -0.02ex;
		font-weight: 400;
		font-size: 2.25rem;
		color:rgba(0, 0, 0, 0.5);
	}
	
	h2 {
		font-family: $font-family-serif;
		font-size: 1.75rem;
		font-weight: 500;
	}
	
	h3 {
		color: $brand-primary;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 1.3rem;
		letter-spacing: 0.123ex;
	}
	
	h4 {
		color: $brand-primary;
		font-weight: 800;
		font-size: 1.25rem;
		font-family: $font-family-serif;
	}
	
	h5 {
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 0.1ex
	}
	
	h6 {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.1ex
	}
}



/* horizontal rulers */

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}


div#mw-content-text {

	li,
	p {
		font-size: 1.1rem;
		font-weight: 400;
	}
}

#bodyContent p {
	text-align: justify;
	hyphens: auto;
}

iframe {
	border: none;
	border-radius: $base-radius;
}

.img {
	border-radius: $base-radius;
}

table{
	*{
		border: none;
		border-collapse: collapse;
	}
}

.wikitable > tr > th, 
.wikitable > tr > td, 
.wikitable > * > tr > th, 
.wikitable > * > tr > td {
	border: 1px solid transparent;
	padding: 0.2em 0.4em;
}

/* edit section link */

.mw-editsection {
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Alegreya Sans";
	font-weight: bold;

	a {
		color: lighten($color-gray, 40);
		background-color: transparent;
		display: inline-block;
		padding: 2px 4px 1px 4px;
		border-radius: 3px;
		letter-spacing: 0.1ex;

		&:hover {
			color: white;
			background-color: $brand-primary;
			text-decoration: none;
		}
	}

	.mw-editsection-bracket {
		display: none
	}
}

/** ------------------------------------------------------------------ Titles for all pages */
.mw-body .firstHeading {
	border-bottom: 1px solid transparent;
	margin-bottom: 0;
	font-family: 'Alegreya Sans';
	font-weight: 100;
	padding-bottom: 1ex;
	font-size: 3em;
	word-break: normal;
	hyphens: auto;
}

/** ------------------------------------------------------------------ Table of Contents */

#toc,
.toc{
	background-color: rgba(225, 214, 183, 0.13);
	border: 1px solid rgba(225, 214, 183, 0.11);
	border-radius: 3px;
	* {
		font-size: 0.9rem;
		line-height: 1.1rem;
	}
}

.well{
	background-color: rgba(225, 214, 183, 0.13);
}

/** ------------------------------------------------------------------ Front page collapse titles */

.title-toggle {
	font-family: 'Alegreya Sans';
	color: $brand-primary;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: .2ex;
}

.title-toggle:hover {
	color: $brand-primary;
}

.link-toggle,
link-toggle:hover {
	color: $brand-primary;
}

.link-toggle::after,
.title-toggle::after {
	color: $brand-primary;
	font-weight: lighter;
	content: " +";
}

.title-toggle:focus::after,
.link-toggle:focus::after {
	content: " -";
}

/** ------------------------------------------------------------------ MW Editor */

textarea,
.mw-body #wpTextbox1 {
	border: none;
	background-color: $code-bg;
	font-family: $font-family-monospace;
	padding: 1em;
	font-size: 13.5px;
}

form#editform.mw-editform {
	#wpTextbox1 {
		border: 1px solid #00000020;
		border-radius: $base-radius $base-radius 0 0;
		font-size: 13.5px;
	}
}

.wikiEditor-ui .wikiEditor-ui-view {
	border: 1px solid transparent !important;
}

.wikiEditor-ui {
	.wikiEditor-ui.controls {}

	.wikiEditor-ui-clear {}

	.wikiEditor-ui-view {
		border: none;

		.wikiEditor-ui-top {
			#msupload-dropzone {
				font-size: 80%;
				text-transform: uppercase;
				letter-spacing: .43ex;
				padding: 1ex 0;
				height: 100%;
				background-color: $color-notice;
				color: transparentize($color-dark, .45);
			}

			ul#msupload-list {
				margin-block-end: 0;

				.file-warning {
					label {
						input[type="checkbox"] {
							margin-right: 1ex;
						}

					}
				}
			}

			#msupload-bottom {
				height: 100%;
			}
		}

		.wikiEditor-ui-text {
			textarea {
				border: none !important;
			}
		}
	}

	* {
		box-sizing: inherit;
	}

}


/** ------------------------------------------------------------------ Table > formtable */

table.formtable {
	border-collapse: collapse;
	border: none;
	tbody {
		tr {
			border-bottom: 1em solid transparent;
			th {
				vertical-align: top;
				text-align: right;
				text-transform: uppercase;
				font-size: 70%;
				padding: 0 1em 0 0;
				min-width: 15%
			}

			td {
				vertical-align: top;

				select,
				textarea,
				.oo-ui-checkboxInputWidget-checkIcon,
				input {
					background-color: $code-bg;
					font-family: "Roboto Mono", monospace;
					font-size: 13.5px;
				}

				select{
					height: 2.23em;
				}
				.inputSpan {
					.pfUploadable {
						color: white;
						background-color: $color-gray;
						padding: 0.7ex 1.5ex;
						text-transform: uppercase;
						font-size: 85%;
						border-radius: 4px;
						border: 1px solid transparent;
						margin: 0 0 0 1ex;
						font-weight: bold;
						&:hover {
							text-decoration: none;
							background-color: $brand-primary
						}
					}
				}

				.pfGoogleMapsInput{
					input.pfCoordsInput{
						border: 1px solid #00000030;
						padding: 0.7ex 1ex;
						border-radius: 3px;
					}
				}

				.checkboxesSpan{
					label{
						t{
							font-size: 80%;
						}
					}
				}

				.select2-container--default .select2-selection--multiple .select2-selection__choice {
					background-color: $code-bg;
					border: 1px solid #00000030;
					border-radius: 4px;
				}
			}
		}
	}
}


/* Messages */
.alert-warning,
.warningbox {
	&.mw-warning-with-logexcerpt {
		background-color: $color-notice;
		padding: 1em;
		margin-bottom: 1ex;
		border: 2px solid #0000001A;
	}
}


/* canvas para processingjs ---------------------------------------------------------------- */

canvas {
	max-width: 100% !important;
	height: auto;
	overflow: hidden;
}

.poem {
	font-family: "Alegreya";
	font-weight: 400;
	font-size: .9em;
	margin: 2em 0;
}

code {
	word-break: break-all
}

/* table of contents */

#toc,
.toc {
	display: block;
	margin-left: -1em;


	#toctitle,
	.toctitle {
		text-align: left !important;
		
		.toctogglespan{
			margin-left: 0;
			float: right;
			.toctogglelabel{
				color: $link-color;
			}
		}
	}

	.toctoggle {
		text-align: right !important;
	}
}

#preftoc>li.selected>a {

	&,
	&:hover,
	&:focus {
		color: $color-pale;
	}
}

/* Content */
#mw-content-text {
	ul {
		margin-block-end: 1em;
	}
}

/* pre */

div.smwpre {
	padding: 0.5em !important;
}

code {
	display: inline-block;
	white-space: pre-wrap;
	color: $code-col;
	background-color: $code-bg;
	border: 1px solid #00000020;
	;
	border-radius: 5px;
	padding: 0px 3px 3px 3px;
	line-height: 130%;
}

pre,
.mw-code {
	background-color: $pre-bg;
	border-radius: 4px;
	border: 1px solid #00000020;
}

/** ------------------------------------------------------------------ Footer */

.pageFooter{
	.p-navbar{
		background-color: transparent;
	}
}

/** ------------------------------------------------------------------ Helper Styles */

/* floating */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.mt {
	margin-top: 1em
}

.mb {
	margin-bottom: 1em
}

/* Responsive Video 
   Based on https://github.com/niklausgerber/FitMyVideo 
*/

.video-container {
	max-width: 100%;
	margin: auto;
}

.flexible-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container video,
/* for html5 video embeds */
.flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-circle{
	border-radius: 50%;
}


/* fullscreen */

.fullscreen {
	width: 100vw;
	height: auto !important;
	position: relative;
}

@media (min-width: 1200px){
	.fullscreen{
		margin: 0 calc(-1 * (100vw - 977px) / 2 - 1rem);
	}
}

@media (max-width: 1199px) and (min-width: 1105px){
	.fullscreen{
		margin: 0 calc(-1 * (100vw - 898px) / 2 - 1rem);
	}
}

@media (max-width: 1104px) and (min-width: 993px){
	.fullscreen{
		margin: 0 calc(-1 * (100vw - 961px) / 2 - 1rem);
	}
}


@media (max-width: 992px) and (min-width: 769px) {
	.fullscreen{
		margin: 0 calc(-1 * (100vw - 721px) / 2 - 1rem);
	}
}

@media (max-width: 768px) and (min-width: 541px) {
	.fullscreen{
		margin: 0 calc(-1 * (100vw - 542px) / 2 - 1rem);
	}
}

@media (max-width: 540px) and (min-width: 0)  {
	.fullscreen{
		margin: 0 -0.92rem;
	}
}